<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <h3>Groups</h3>

            <hr>

            <h3>Submodules</h3>

            <button class="btn btn-sm btn-default" routerLink="/lions/test">lions</button>
            <button class="btn btn-sm btn-default" routerLink="/zebras/test">zebras</button>
            <button class="btn btn-sm btn-default" routerLink="/tigers/test">tigers</button>
            <button class="btn btn-sm btn-default" routerLink="/dogs/test">dogs</button>
            <button class="btn btn-sm btn-default" routerLink="/widgets/test">widgets</button>
        </div>
    </div>
</div>