<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
            <a routerLink="/users" routerLinkActive="active">Users</a>
            <a routerLink="/groups" routerLinkActive="active">Groups</a>
            <a routerLink="/items" routerLinkActive="active">Items</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Show Item</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- content -->
            <!-- <p id="notice">{{ notice }}</p> -->
            <span *ngIf="item">
                <p>
                  <strong>Id:</strong>
                  {{ item.id }}
                </p>

                <p>
                  <strong>Text:</strong>
                  {{ item.text }}
                </p>

                <p>
                  <strong>Is Done:</strong>
                  {{ item.is_done }}
                </p>
            </span>
        </div>
        <div class="col-md-6">
            <!-- content -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <span *ngIf="item">
                <a [routerLink]="['/items', item.id, 'edit']" routerLinkActive="active">Edit</a> |
                <a [routerLink]="['/items']" routerLinkActive="active">Back</a>
            </span>
        </div>
    </div>
            
</div>


            