<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <h3>Features</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>Get data from http call when component initializes</strong></p>
            <p>initialData.myObj.hash:</p> 
            <p>{{initialData.myObj.hash}}</p>
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>Get params from url</strong></p>
            <p>URL example: http://localhost:4200/features/123</p>
            <button class="btn btn-sm btn-default" (click)="getParams()">getParams</button>
            <p>myVarA: {{myVarA}}</p>
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>Get data from http call</strong></p>
            <button class="btn btn-sm btn-default" (click)="makeHttpGetCall()">makeHttpGetCall</button>
            <p>myVarB: {{ myVarB | json }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>Increment using REDUX</strong></p>
            <button class="btn btn-sm btn-default" (click)="increment_5()">increment_5</button>
            <p>counter | async: {{counter | async}}</p> 
        </div>
        <div class="col-md-4">
            <!-- content --> 
            <hr>
            <p><strong>Increment with REDUX</strong></p>
            <button class="btn btn-sm btn-default" (click)="increment_1()">increment_1</button>
            <p>counter | async: {{counter | async}}</p> 
        </div>
        
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <input [(ngModel)]="myVarD.password" name="myPassword" type="text" placeholder="Type password here...">
            <button class="btn btn-sm btn-default" (click)="generatepasswordHash(myVarD.password)">generatepasswordHash</button>
            <p>hash: {{ myVarD.hash }}</p>
            <p>password: {{ myVarD.password }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <button class="btn btn-sm btn-default" (click)="checkpasswordHash()">checkpasswordHash</button>
            <p>myVarE: {{ myVarE | json }}</p>
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>Get Angular env variables</strong></p>
            <button class="btn btn-sm btn-default" (click)="logEnv()">logEnv</button>
            <p>myVarF: {{ myVarF | json }}</p> 
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>Get state chunck with REDUX</strong></p>
            <button class="btn btn-sm btn-default" (click)="getUsersFromState()">getUsersFromState</button>
            <p>myVarG: {{ myVarG | json }}</p> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>Get state chunck with REDUX</strong></p>
            <button class="btn btn-sm btn-default" (click)="addUser()">addUser</button>
            <p>Users from state:</p>
            <!-- The async pipe gets the latest value of an Observable variable! -->
            <p *ngFor="let user of users | async">{{ user.name }}</p>
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>HTTP with REDUX</strong></p>
            <button class="btn btn-sm btn-default" (click)="useReduxWithHttp()">useReduxWithHttp</button>
            <p>httpResults: {{httpResults | async | json }}</p>

            <p>---</p>
            <!-- The async pipe gets the latest value of an Observable variable! -->
            <p *ngFor="let x of httpResults | async">{{ x | json }}</p> 
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <button class="btn btn-sm btn-default" (click)="getStateFromRedux()">getStateFromRedux</button> 
            <p>myVarC: {{ myVarC | json }}</p> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>ng-template example:</strong></p>
            <button class="btn btn-sm btn-default" (click)="changeMyVarI()">changeMyVarI</button>
            <div *ngIf="myVarI; then myTemplateA else myTemplateB"></div>
            <ng-template #myTemplateA>
                TRUE
            </ng-template>
            <ng-template #myTemplateB>
                FALSE
            </ng-template>
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>ngSwitch example:</strong></p>

            <div [ngSwitch]="'three'"> 
                <p *ngSwitchCase="'one'">This is one</p>
                <p *ngSwitchCase="'two'">This is two</p>
                <p *ngSwitchCase="'three'">This is three</p>
                <p *ngSwitchDefault>This is four</p>
            </div>


        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>@Input</strong> and <strong>@Output</strong> example:</p>
            <div class="alert alert-info">
                <h3>Parent Component</h3>
                <p><strong>Parent var A</strong> (P -> C using @Input): {{toBeSentToChild}}</p>
                <p><strong>Parent var B</strong>  (C -> P using @Output): {{toBeSetByChild}}</p>
                
                <button class="btn btn-sm btn-default" 
                        (click)="changeDataSentToChildComponent(toBeSentToChild)">
                    Change data sent to child
                </button>

                <app-my-child 
                    [myVarFromParent]="toBeSentToChild" 
                    (myEvent)="getDataFromChildComponent($event)">
                </app-my-child>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>@ViewChild</strong></p>
            <input type="text" name="myFirstViewChildVar" #myFirstViewChildVar>

            <button class="btn btn-sm btn-default" 
                    (click)="logMyViewChildVar()">
                logMyViewChildVar
            </button>
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>*ngFor with index</strong></p>

            <p *ngFor="let x of ['a', 'b', 'c']; index as i">
                {{i}} - {{x}}
            </p>
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>*ngFor with trackBy (we need a function...)</strong></p>

            <p *ngFor="let user of myCollection; trackBy: trackCollection">
                {{user.id}} - {{user.name}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>Safe Traversal Operator (foo?.bar)</strong></p>
            <p>nonExistantVar: {{myVarA.nonExistantVar?.even}}
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>Custom Directives</strong></p>

            <p>Make Uppercase</p>
            <input type="text" appMyInputFormatter [myFormat]="'uppercase'">
            <br>
            <p>Make Lowercase</p>
            <input type="text" appMyInputFormatter [myFormat]="'lowercase'">
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>Custom Pipes</strong></p>
            <p>{{ 'Lorem ipsum dolor sit amet' | mySummary:9 }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- content -->
            <hr>
            <p><strong>Random images</strong></p>

            <img src="http://lorempixel.com/100/100/" class="img-circle">
            <img src="http://lorempixel.com/100/101/" class="img-circle">
            <img src="http://lorempixel.com/100/102/" class="img-circle">
            <img src="http://lorempixel.com/100/103/" class="img-circle">
            <img src="http://lorempixel.com/100/104/" class="img-circle">
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- content -->
            <hr>
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
        </div>
        <div class="col-md-4">
            <!-- content -->
            <hr>
        </div>
    </div>
    
</div>