<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <h3>Home</h3>
            <p>Hello {{ currentUser.name }}!</p>

            <button class="btn btn-sm btn-default" (click)="logout()">Logout</button>
            <button class="btn btn-sm btn-default" (click)="verifyToken()">verifyToken</button>
            
            <hr>

            <h3>Submodules</h3>

            <button class="btn btn-sm btn-default" routerLink="/lions">lions</button>
            <button class="btn btn-sm btn-default" routerLink="/zebras">zebras</button>
            <button class="btn btn-sm btn-default" routerLink="/tigers">tigers</button>
            <button class="btn btn-sm btn-default" routerLink="/dogs">dogs</button>
            <button class="btn btn-sm btn-default" routerLink="/widgets">widgets</button>

            <br>
            <button class="btn btn-sm btn-default" routerLink="/lazy">lazy</button>
            <button class="btn btn-sm btn-default" routerLink="/lazy/lazy-parent">lazy-parent</button>
            <!-- <button class="btn btn-sm btn-default" routerLink="/lazy/lazy-child">lazy-child</button> -->

        </div>
    </div>
</div>