<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Edit Item</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- content -->
            <!-- <p id="notice">{{ notice }}</p> -->
            <span *ngIf="item">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Edit Item
                    </div>
                    <div class="panel-body">
                        <form (ngSubmit)="updateItem(item)">
                            <div class="form-group">
                                <label for="text">Text</label>
                                <input type="text" 
                                       class="form-control input-sm" 
                                       id="text" 
                                       name="text" 
                                       [(ngModel)]="item.text" 
                                       required>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" 
                                           id="is_done" 
                                           name="is_done" 
                                           [(ngModel)]="item.is_done"> Is Done
                                </label>
                            </div>

                            <!-- submit -->
                            <button type="submit" class="btn btn-sm btn-success">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </span>
        </div>
        <div class="col-md-6">
            <!-- content -->
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-12">
            <!-- content -->
            <span *ngIf="item">
                <button type="button" 
                        class="btn btn-sm btn-default"
                        [routerLink]="['/items', item.id]">
                    Show
                </button>
                <button type="button" 
                        class="btn btn-sm btn-default"
                        (click)="goBack()" 
                        routerLinkActive="active">
                    Back
                </button>
            </span>
        </div>
    </div>
            
</div>